---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  slug: string;
  lastModified?: Date;
}

const { title, description, slug, lastModified } = Astro.props;
---
<html lang="en">
  <head>
    <Head title={title} description={description} lastModified={lastModified} />
    <slot name="head" />
  </head>
  <body class="min-h-screen">
    <Header currentPath={Astro.url.pathname} />
    <div class="mx-auto flex max-w-[90rem]">
      <Sidebar currentSlug={slug} />
      <slot />
    </div>
  </body>
</html>
